:root{
    --primary-color: #111821;
    --secundary-color: #13AA52;
    /* --secundary-color: #63d492; */
    --text-primary-color: #F3F3F4;
}
* {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    box-sizing: border-box;
    font-family: 'Heebo';
    /* font-family: 'Arimo'; */
    /* font-family: 'Nunito'; */
    /* font-family: 'Hind Siliguri'; */
}
#App{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}
#Main{
    width: 90%;
}
 